
<div class="row">
    <div class="form_wrapper">
<h1>Add a new category</h1>
        {{#if message }}
        <div class="alert alert-success alert-dismissible">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
            {{ message }}
        </div>
        {{/if}}
        <form method="post" class="form_submit">

            <div class="form-group">
                <label >Category name:</label>
                <input type="text" class="form-control" name="name">
            </div>

            



            <button type="submit" class="btn btn-success" id="btn_submit">Add</button>

        </form>
    </div>
</div>