<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

  <div class="col-sm-2">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Home</a>
    
  </div>
<div class="col-sm-8">
  <form class="navbar-form navbar-left navbar-search" action="/search" method="post">
      <div class="form-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <button class="btn btn-default" type="sumbit">search</button>
      </div>
    </form>
</div>
  <div class="col-sm-2">

    <ul class="nav navbar-nav navbar-user">

      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories</a>
        <ul class="dropdown-menu">
          {{#forEach categories }}
          <li>
            <a href="/products/{{_id}}">{{name}}</a>
          </li>
          {{/forEach}}
        </ul>
      </li>

      {{#not user}}
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup / Login</a>
        <ul class="dropdown-menu">
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/signup">Signup</a>
          </li>
        </ul>
      </li>

      {{else}}

      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.profile.name}}</a>
        <ul class="dropdown-menu">
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </li>

      {{/not}}

    </ul>

  </div>


</nav>