<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">

  <div class="col-sm-11">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>
  </div>

  <div class="col-sm-1">

    <ul class="nav navbar-nav navbar-right">
      {{#not user}}
         <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup / Login</a>
        <ul class="dropdown-menu">
          <li>
            <a href="/login">Login</a>
          </li>
          <li>
            <a href="/signup">Signup</a>
          </li>
        </ul>
      </li>
      
      {{else}}
 
      <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{user.profile.name}}</a>
        <ul class="dropdown-menu">
          <li>
            <a href="/profile">Profile</a>
          </li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </li>
      
      {{/not}}

    </ul>

  </div>


</nav>