body {
    margin: 100px 0;
    
    
}

footer {
    padding-top: 300px;
    text-align: center;
}

#navbar-gap {
    margin-top: -2%;
}

.tacenter {
    text-align: center;
}

.form_wrapper {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.form_submit {
    width: 50%;
    margin: 40px auto;
    
}

.form-group {
    text-align: left;
}

.navbar-search>.form-group {
    display: flex
    
}
.navbar-search>.form-group>input {
    width: 20%;
}

.navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
}

.navbar-nav > li {
    margin: 0 20px;
}

.pagination_nav {
    margin: 80px auto;
}

