
<div class="row">
    <div class="form_wrapper">
<h1>Edit profile</h1>
        {{#if message }}
        <div class="alert alert-success alert-dismissible">
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>
            {{ message }}
        </div>
        {{/if}}
        <form method="post" class="form_submit">
             <div class="form-group">
                <label action="email">Name:</label>
                <input type="text" class="form-control" value="{{user.profile.name}}" name="name">
            </div>

           {{!--  <div class="form-group">
                <label action="email">Email:</label>
                <input type="email" class="form-control" value="{{user.email}}" name="email">
            </div> --}}

            <div class="form-group">
                <label for="password">Adress:</label>
                <input type="text" class="form-control" value="{{user.address}}" name="address">
            </div>



            <button type="submit" class="btn btn-success" id="btn_submit">submit</button>

        </form>
    </div>
</div>