<div class="container">

<div class="row">
    <div class="form_wrapper">
<h1>Signup</h1>
        {{#if errors }}
            <div class="alert alert-danger alert-dismissible">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close" >
                    <span aria-hidden="true" >
                        &times;
                    </span>
                </button>
                {{ errors }}
            </div>   
        {{/if}}
        <form method="post" class="form_submit"  >
            <div class="form-group" >
                <label for="text">Username:</label>
                <input type="text" class="form-control" name="name" >
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password" >
            </div>
            
            <div class="form-group">
                <label action="email">Email:</label>
                <input type="email" class="form-control" name="email" >
            </div>

            <button  type="submit" class="btn btn-success" id="btn_submit">submit</button>
   
        </form>
    </div>
</div>


</div>
